<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816181172284-is0igvjjc6941m2l5uhheghlptsm2l93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816181172284-is0igvjjc6941m2l5uhheghlptsm2l93</string>
	<key>API_KEY</key>
	<string>AIzaSyDE_virH47uQs1Ash7uNs6VYjXZyikJQ9w</string>
	<key>GCM_SENDER_ID</key>
	<string>816181172284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taoquynh.DemoFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-41e5a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-41e5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816181172284:ios:374b7183208af961dbcb39</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-41e5a.firebaseio.com</string>
</dict>
</plist>